.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f4f4f9;
}

.logout-container {
  margin-right: 10px;
}

.logout-container p-button {
  font-size: 14px;
}
